body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Helvetica"
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.section1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 0px 450px;
    padding-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    font-size: 24px;
    align-items: center;

}

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.text {
    width: 380px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
}

img {
    height: auto;
    width: 350px;
}

.secondary {
    color: #E5E7EB;
    font-size: 15px;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    padding: 2px 10px;
}

/* For Section 2 */

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

h3 {
    font-size: 30px;
    color: #1F2937;
}

.items {
    display: flex;
    gap: 100px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
}

.sec2_text {
    text-align: center;
    font-size: 10px;
}

.sec2_pic {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

/* For Section 3 */

.section3 {
    display: flex;
    background-color: #E5E7EB;
}

.quotebox {
    padding: 100px 550px;
    display:flex;
    flex-direction: column; 
    gap: 0px;
}

.quote {
    font-size: 30px;
    color: #1F2937;
    font-weight: lighter;
    margin-bottom: 0;
}

.quotee {
    text-align: end;
    margin-top: 10px;
}